/* Обнуление ============================================================================================================= */
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img,
picture {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input {
  border-radius: 0;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-thin.ttf) format('TrueType');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Regular.ttf) format('TrueType');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Medium.ttf) format('TrueType');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Bold.ttf) format('TrueType');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Black.ttf) format('TrueType');
  font-weight: 900;
  font-style: normal;
}

body {
  display: flex;
}

.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  font-family: Roboto;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  font-size: 20px;
  font-weight: 500;
}

.label.avatar {
  padding: 10px 20px;
  border-radius: 10px;
  background: #ffdd8d;
}

#userAvatar {
  display: none;
}

.avatar-output {
  width: 100%;
  max-width: 200px;
}

input[type="text"] {
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 18px;
}